<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610795338007-8o0tvu07014pr3f66sv3fas2nqmihbk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610795338007-8o0tvu07014pr3f66sv3fas2nqmihbk4</string>
	<key>API_KEY</key>
	<string>AIzaSyDIZIrqqITWlG6B3ucHc_8A803HjMKsP8E</string>
	<key>GCM_SENDER_ID</key>
	<string>610795338007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.douchat</string>
	<key>PROJECT_ID</key>
	<string>douchat-ed564</string>
	<key>STORAGE_BUCKET</key>
	<string>douchat-ed564.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610795338007:ios:07d683a7804d8bdf9a5f52</string>
</dict>
</plist>